.bake__switch, .sew__switch, .tailor__switch { /*30*/
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.coordonnees { /*10*/
    flex: 1;
    font-size: 16px;
    line-height: 0.9em;
    margin-left: 10em;
    margin-top: 0;
}

.coordonneesp ul { /*11*/
    padding: 0;
}
.coordonneesp figure { /*11*/
    margin-left: 0;
}
.tailor:hover .tailor__switch, .bake:hover .bake__switch, .sew:hover .sew__switch {
    display: none;
}
.tailor:hover .tailor__link .bake:hover .bake__link {
    opacity: 1;
}




