@font-face {
    font-family: 'Ubuntu';
    src: url("../font/Ubuntu-Regular.ttf");
}
html{ /*1*/
    box-sizing: border-box;
}
body{ /*1*/
    font-family: 'Ubuntu', serif;
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
}
mark{ /*1*/
    color: #E30513;
    background-color: #FFFFFF;
}
ul{ /*1*/
    list-style: none;
}
a{ /*1*/
    text-decoration: none;
}
footer{ /*1*/
    background-color: #000000;
    color: #FFFFFF;
    /*display: grid;*/
    /*grid-gap: 15rem;*/
    /*grid-template-columns: repeat(3,1fr);*/
    /*grid-template-rows: 1fr 10em;*/
    /*margin: 0 auto ;*/
    /*width: 100%;*/
    /*font-size: 0.8235294117647059em;!*14/17*!*/
    /*padding-bottom: 120px;*/
    /*align-items: center;*/
}
main section{ /*2*/
    margin-top: 6rem;
}
/*footer section{ !*2*!*/
/*    margin-top: 3.7rem;*/
/*}*/
*::selection { /*10*/
    color: #fff;
    background: rgba(227, 5, 19, .99);
}
.nav{ /*10*/
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 6rem;
    font-size: 2rem;
    color: #000000;
    background: #fff;
    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
    transition: transform .7s cubic-bezier(.645,.045,.355,1);
}
.qualites__form{ /*10*/
    display: flex;
    align-items: center;
}
.figure__logo{ /*10*/
    background-color: #E30513;
}
.red{ /*10*/
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #E30513;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1.5em 4.5em;
}
.hidden{ /*10*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
.nav__liste { /*10*/
    display: flex;
    padding-left: 20px;
}
.nav__item{ /*10*/
    margin-right: 0.7em;
    padding-top: 0;
}
.nav__liste a{ /*11*/
    font-size: 16px; /*15/17*/
    color: #000000;
}
.nav__liste+.nav__liste{ /*20*/
    justify-content: end;
    padding-right: 20px;
    flex-grow: 1;
}
.nav__liste+.nav__liste a{ /*21*/
    font-size: 12px; /*12/17*/
    color: #AEAEAE;
    text-transform: uppercase;
}
.orga,.auto,.ponctuel{ /*30*/
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin-right: 2em;
}
.ponctuel__figure, .auto__figure, .orga__figure{ /*30*/
    margin: 0;
    overflow: auto;
    background-color: yellow;
}
.organisation__title, .autonome__title, .ponctualite__title{ /*30*/
    text-transform: uppercase;
    font-size: 14px;
}
.organisation__text, .autonome__text, .ponctualite__text{
    font-size: 20px;
    line-height: 1.7em;
}
.orga__text,.auto__text,.ponctuel__text{
    margin-top: 0;
    padding: 0 1.5em 3em 1.5em;
}
.nav__liste:first-of-type a:hover{ /*31*/
    background-color: #EAEAEA;
}
.nav__liste+.nav__liste a:hover{/*31*/
    color: #000000;
    background-color: none;
}

@media only screen and (min-width: 801px) {
    header, main{ /*2*/
    padding-left: 200px;
}
    .qualites__position{ /*10*/
        display: flex;
        flex-direction: row;
    }
    .orga,.auto,.ponctuel{ /*30*/
        max-width: 18em;
        margin-right: 2em;
        margin-bottom: 10em;
    }

}
@media only screen and (min-width: 601px) and (max-width: 800px){

}
@media only screen and (max-width: 600px) {
    .qualites__position{
        display: flex;
        flex-direction: column;
    }
    .nav__liste {/*10*/
        display: flex;
        padding-left: 20px;
    }
    .orga,.auto,.ponctuel{ /*30*/
        margin-right: 2em;
        margin-left: 2em;
        margin-bottom: 10em;
        max-height: 60%;
    }
    .ponctuel__figure img, .auto__figure img, .orga__figure img{ /*33*/
        border-radius: 5px 5px 0px 0px;
        /*float: left;*/
        width: 100%;
    }


}