@font-face {
    font-family: 'Ubuntu';
    src: url("../font/Ubuntu-Regular.ttf");
}
html{ /*1*/
    box-sizing: border-box;
}
body{ /*1*/
    font-family: 'Ubuntu', serif;
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
}


mark{ /*1*/
     color: #E30513;
     background-color: #FFFFFF;
 }
ul{ /*1*/
    list-style: none;
}
a{ /*1*/
    text-decoration: none;
}
footer{ /*1*/
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    /*grid-gap: 5rem;*/
    /*grid-template-columns: repeat(3,1fr);*/
    /*grid-template-rows: 1fr 10em;*/
    margin: 0 auto ;
    width: 100%;
    font-size: 0.8235294117647059em;/*14/17*/
    padding-bottom: 4em;
    align-items: center;
}
main section{ /*2*/
    margin-top: 6rem;
}
header, main{ /*2*/
    padding-left: 200px;
}
footer section{ /*2*/
    margin-top: 3.7rem;
}
*::selection { /*10*/
    color: #fff;
    background: rgba(227, 5, 19, .99);
}
.nav{ /*10*/
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 6rem;
    font-size: 2rem;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
    transition: transform .7s cubic-bezier(.645,.045,.355,1);
}
.nav__liste { /*10*/
    display: flex;
    padding-left: 20px;
    /*flex-direction: column;*/

}
.nav__item{ /*10*/
    margin-right: 0.5em;
    padding-top: 0;
}
.intro{/*10*/
    font-size: 25px; /*25/36*/
    background-image: url("../IMG/pexels-olia-danilevich-4974912.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70% 30% ;
    grid-column: span 2;
    position: relative;
}
.intro__div{/*10*/
    color: #FFFFFF;
    background-color: rgba(204,0,13,0.8);
    /*background-size: 70%;*/
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
}
.intro__title{ /*10*/
    font-weight: 100;
    margin-top: 200px;
    margin-bottom: 0px;
    padding: 50px;
    line-height: 1.4em;
}
.intro__button{/*10*/
    margin-top: 20px;
    margin-bottom: 320px;
}
.school{/*10*/
    background-image: url("../IMG/pexels-burst-545057.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;

}
.scolaire{/*10*/
    color: #FFFFFF;
    background-color: rgba(204,0,13,0.8);
    background-size: 15%;
    grid-column: 1/2;
    font-size: 2em;
    line-height: 2.2em;
    padding: 2em;
    /*margin-right: 1em;*/
}
.school__title{/*10*/
    text-transform: uppercase;
    font-size: 15px; /*14/51*/
    padding: 2em;
}
.xp{ /*10*/
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    grid-gap: 1.5em;
    position: relative;
}
.xp__img--bake{
    position: absolute;
    bottom: 0;
    left: -8%;
    z-index: -2;
}
.xp__img--sew{
    position: absolute;
    right: 0;
    top: 11%;
    z-index: -2;
}
.xp__img--tailor{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.xp__rect{
    fill: rgba(204,0,13,0.8);
    position: absolute;
    right: 0;
    top: 11%;
    z-index: -1;
}
.xp section{ /*11*/
    min-width:100%;
    padding: 1em;
    justify-content: center;
    align-items: center;

}
.bake{ /*10*/
    grid-row: 2/4;
    background-color: #8EC899;
    margin-top: 0;
}
.me{ /*10*/
    grid-column: 2;
    grid-row: 1/3;
    justify-self: center;
    align-self: end;
    margin-top: 0;
    margin-left: 10em;

}
.sew{ /*10*/
    grid-row: 3/5;
    grid-column: 2;
    background-color: #DEC2A0;
    margin-top: 0;
}
.tailor{ /*10*/
    grid-row: 2/4;
    grid-column: 3;
    background-color: #A3CEF0;
}
.xp__div{ /*10*/
    grid-column: 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.reseau__item{ /*10*/
     display: inline-block;
     margin-right: 1em;
 }
.sew__logo{/*10*/
    width: 0;
}
.figure__logo{ /*10*/
    background-color: #E30513;
}

.red{ /*10*/
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #E30513;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1.5em 4.5em;
}
.hidden{ /*10*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
.presentation__title{/*10*/
    font-size: 36px;
    background-color: #FFFFFF;
    font-weight: 100;
    padding: 134px;
    z-index: 1;
    /*grid-column: 2/3;*/
    /*grid-row: 2/3;*/

}
.presentation__position{ /*10*/
    z-index: 1;
    position: absolute;
    bottom: -50%;
    right: 0;
    max-width: 70%;

}
.presentation__description{ /*10*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    line-height: 2em;
    padding: 2em 0;
    margin-top: 3rem;
}
.presentation__figure{ /*10*/
    grid-row: 1/3;
    grid-column: 3/4;
}

.desc__title{ /*10*/
    text-transform: uppercase;
    color: #000000;
}
.langage__js{/*10*/
    grid-area: s1;
    padding: 3em 1.5em;
    /*max-width: 60%;*/
    /*margin-right: 10em;*/
}
.js__description{ /*10*/
    margin: 0  auto;
    /*max-width: 70%;*/
}
.langage__html{ /*10*/
    grid-area: s2;
    padding: 3em 1.5em;
    /*max-width: 60%;*/
    /*margin-left: 10em;*/
}
.langage__css{ /*10*/
    grid-area: s3;
    padding: 3em 1.5em;
    /*max-width: 60%;*/
}
.langage__sql{ /*10*/
    grid-area: s4;
    padding: 3em 1.5em;
    /*max-width: 60%;*/

}
.langage__php{ /*10*/
    grid-area: s5;
    padding: 3em 1.5em;
    /*max-width: 60%;*/
    /*margin-right: 10em;*/
}
.job__description{ /*10*/
    display: grid;
    grid-template-columns: repeat(2,20rem);
    grid-gap: 1.7em;
    justify-content: center;
    /*grid-template-rows: repeat(2,1fr);*/
    justify-content: center;
    line-height: 2em;
    padding: 2em 0;
}
.job__button{/*10*/
    grid-column: 2/3;
}
.ecole{ /*10*/
    grid-column: 1/-2;
    grid-row: 2/3;
    display: flex;
    align-content: space-between;
    border-top: 1px solid #EAEAEA;
    padding: 20px 350px;
    flex: 1;
}
.qualites__position{ /*10*/
    display: flex;
}
.qualites__form{
    display: flex;
    align-items: center;
}
.coordonnees{ /*10*/
    font-size: 16px;
    margin-top: 0;
    margin-left: 10em;
    line-height: 0.9em;
    flex: 1;
}
.button__polygon{ /*10*/
    color: #FFFFFF;
    background-color: #DEC2A0;
    border-radius: 50%;
    padding: 3.5em;
}
.button__text{ /*10*/
    text-align: center;
}
.coordonneesp  { /*10*/
    margin-left: 8em;
    flex: 1;
}
.coordonneesp ul{ /*11*/
    padding: 0;
}
.coordonneesp figure{ /*11*/
    margin-left: 0;
}
.nav__liste a{ /*11*/
    font-size: 16px; /*15/17*/
    color: #000000;
}
.ecole figure{ /*11*/
    flex: 1;
}
.langage img{ /*11*/
    border: solid #EAEAEA 0.1rem;
    padding: 1em;
}

.langage div{/*11*/
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:".  .  s1" "s2 s3  ." ".  s4 s5";
    grid-gap: 1.5rem;
    padding-left: 10em;
    padding-right: 10em;
    line-height: 2em;
    box-shadow: inset 100em 1em rgba(204,0,13,0.8);
    background-image: url("../IMG/pexels-pixabay-270348.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.langage section{/*11*/
    background-color: #F8F8F8;
    border-radius: 2% 2% 2% 2%;
    text-align: center;
    margin-top: 0.7em;
    min-height: 10em;
    color: #6A6A6A;
}
.mail a{ /*11*/
    color: #E30513;
}
.job__description p+p{ /*12*/
    grid-row: 1/2;
    grid-column: 2/3;
}
.presentation__description p+p{ /*12*/
    grid-row: 2/3;
    grid-column: 2;
}
.red:hover{ /*20*/
    background-color: #FFFFFF;
    color: #E30513;
}
.nav__liste+.nav__liste{ /*20*/
    justify-content: end;
    padding-right: 20px;
    flex-grow: 1;
}
.button__link{ /*11*/
    color: #000000;
    min-width: 2em;
    min-height: 2em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.xp small{ /*11*/
    font-size: 12px;
    line-height: 5px;
}
.patron img{ /*11*/
    border-radius: 50%;
    /*width: 30%;*/
}
.button__polygon path{ /*11*/
     fill: #FFFFFF;
 }
.button__polygon:hover{ /*20*/
    transform: scale(0.8);
}
.xp__div .button__text{ /*20*/
    color: #FFFFFF;
    background-color: red;
}
.school__item:hover:after{ /*21*/
    /*content:url("../IMG/fleche-bluecircle.svg");*/
    /*width: 10%;*/
    /*height: 10%;*/
}
.nav__liste+.nav__liste a{ /*21*/
    font-size: 12px; /*12/17*/
    color: #AEAEAE;
    text-transform: uppercase;
}

.mail a:hover{ /*21*/
    background-color: #E30513;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}
.presentation__description presentation__text:first-child{ /*21*/
    grid-row: 1/2;
    grid-column: 1/2;
}
.coordonnees p:hover{ /*21*/
    color: #E30513;
}
.orga,.auto,.ponctuel{ /*30*/
    display: flex;
    max-width: 18em;
    flex-direction: column;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin-right: 2em;
    margin-bottom: 10em;
}
.orga__text,.auto__text,.ponctuel__text{ /*30*/
    margin-top: 0;
    padding: 0 1.5em 3em 1.5em;
}
.organisation__title, .autonome__title, .ponctualite__title{ /*30*/
    text-transform: uppercase;
    font-size: 14px;
}
.organisation__text, .autonome__text, .ponctualite__text{ /*30*/
    font-size: 20px;
    line-height: 1.7em;
}
.ponctuel__figure, .auto__figure, .orga__figure{ /*30*/
    margin: 0;
    overflow: auto;
}
.job__description .job__text:first-child{ /*30*/
    grid-row: 1/2;
    grid-column: 1/2;
}
.nav__liste:first-of-type a:hover{ /*31*/
    background-color: #EAEAEA;

}
.nav__liste+.nav__liste a:hover{/*31*/
    color: #000000;
    background-color: none;
}
.ponctuel__figure img, .auto__figure img, .orga__figure img{ /*33*/
    border-radius: 5px 5px 0px 0px;
    float: left;
    width: 100%;
}
.xp__input:before, .qualites__input:before{ /*40*/
    background-image: url("./IMG/Voir+.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px;
    background-position: top;
}
.orga:hover,.auto:hover,.ponctuel:hover { /*60*/
    color: #FFFFFF;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
}
/*.desc:hover{*/
/*    background-color: rgba(255,255,255, 0.0);*/
/*    color: #FFFFFF;*/
/*}*/
/*.css:hover, .html:hover, .js:hover, .sql:hover, .php:hover { !*200*!*/
/*    color: #FFFFFF;*/
/*    background-image: url("../IMG/photo-survol.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    z-index: -1;*/
/*    transform: translateZ(0) scaleY(1.08);*/
/*    transition-delay: 0s, 0s*/
/*}*/
.contact{
    margin-top: 6rem;
    flex: 1;
    position: relative;
}
.contact__title{
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 1.5em;

}
.contact__text{
    color: #AEAEAE;
    font-weight: 500;
    font-size: 14px;
    line-height: 2em;
}
.contact input[type="email"]{
    font-size: 16px; /*16/14*/
    font-family: 'Ubuntu', serif;
    color: #9D9D9D;
    border-radius: 3px;
    border: none;
    min-height: 2em;
    min-width: 25em;
    padding: 0.5em 1em;
}
.contact input[type="submit"]{
    color: #FFFFFF;
    font-size: 16px; /*16/14*/
    font-family: 'Ubuntu', serif;
    background-color: #E30513;
    border: none;
    border-radius: 0px 3px 3px 0px;
    min-height: 3em;
    position: absolute;
    right: 0;
    z-index: 1;
}


